/* Estilo do header */
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;           
    padding: 5px;
    background-color: #ba7608;   
}

.cabecalho-imagem {
    height: 400px;
}

.cabecalho-menu {
    display: flex;
    gap: 35px; 
}

.cabecalho-menu-item {
    font-family: sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18PX;
}
  
  
img {
    max-height: 220px;                /* Ajusta o tamanho proporcional */
    padding: 20px;                  /* Espaçamento interno para evitar toque nas bordas */
    }

h1 {
    margin-bottom: 20px;
}
 
/* Aplica cor de fundo para todas as sections */
#docesfinos {
    background-color: #eed559; /* Cor de fundo: pêssego claro */
    padding: 20px; /* Espaçamento interno */
    margin: 5; /* Espaçamento entre as sections */
    text-align: center;
}

#Sobremesas {
    background-color: #e2a66a;
    padding: 20px;
    text-align: center;    
}


#bolos {
    background-color: #ebbb54; 
    padding: 20px;
    text-align: center;
}

#bebidas {
    background-color: #ef9457; 
    padding: 20px;
    text-align: center; 
}

/* Container geral para os itens */
.container {
    display: flex; /* Organiza os itens lado a lado */
    gap: 40px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens dentro da section */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

/* Estilo para cada item */
.item {
    background-color: #f0e5b5; /* Fundo suave para os containers */
    padding: 10px;
    width: 300px; /* Largura de cada container */
    border: 1px solid #FFDAB9; /* Borda decorativa */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center; /* Centraliza imagem e texto */
}


.item img {
    max-width: 100%; /* Imagem ajustada à largura do container */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaço entre imagem e texto */
}

/* Estilo para o texto */
.item p {
    font-size: 35px; /* Tamanho do texto */
    text-align: center;
    color: #150101; /* Cor do texto */
}

.rodape {
    display: flex;
    max-height: 30px;        
    padding: 32px;
    background-color: #f2e30c;
}

.texto-centralizado {
    text-align: center;
    margin: auto;
    display: block;
}